// Color Palette
$desire: #E63946;
$honeydew: #F1FAEE;
$light-blue: #A8DADC;
$queen-blue: #457B9D;
$space-cadet: #1D3557;

$primary-color: $desire;
$secondary-color: $queen-blue;

// Basic colors
$black: #000000;
$white: #FFFFFF;
$light-gray: #E3E3E3;
$gray: #A2A2A2;